%td
  - case square.status.to_sym
  - when Player.nobody
    = form_for([square.game, Move.new]) do |f|
      = f.hidden_field(:player,    :value => "human")
      = f.hidden_field(:as_string, :value => square.to_move)
      = f.submit('_', class: 'btn btn-sq btn-primary hidden', disabled: square.game.finished?)
      
  - when Player.human
    
    %button.btn.btn-sq{type: "button", disabled: true, class: (square.winning? ? 'btn-success' : 'btn-primary')}= square
    
  - when Player.computer
    
    %button.btn.btn-sq{type: "button", disabled: true, class: (square.winning? ? 'btn-success' : 'btn-primary')}= square