!!!
%html
  %head
    %title Mahaga.org - The Ladder
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{rel: "stylesheet", href: "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity: "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin: "anonymous"}
    
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Nunito:200,600", type: "text/css"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Montserrat:400,700", type: "text/css"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic", type: "text/css"}

    -# Favicons
    %link{rel: "apple-touch-icon", sizes: "180x180", href: "/apple-touch-icon.png"}
    %link{rel: "icon", type: "image/png", sizes: "32x32", href: "/favicon-32x32.png"}
    %link{rel: "icon", type: "image/png", sizes: "16x16", href: "/favicon-16x16.png"}
    %link{rel: "manifest", href: "/site.webmanifest"}

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', 'media' => 'all'
    = javascript_include_tag 'application'
    = javascript_pack_tag    'application'
  
    = yield